body{
  background-color: #3f4040;
}

.item1-cont{
  margin: auto;
  background-color:#757575;
  width: 60%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-radius: 20px;
  
}

.inp-cont{
  width: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 3px solid black ;
}

.addListInp{
  width: 400px;
  height: 40px;
  border: none;
  border-radius: 40px;
  outline: none;
  font-family: monospace;
  font-weight: 900;
  padding:3px 20px 0;
  font-size: 25px;
  background-color: #b2b3b3;
  color: #0000ff;

}

.element{
  color: #0000ff;
  font-size: 25px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
}
p{
  width: 50%;
  font-size: 25px;
  color: #0000e6;
}
.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: 0 0 10px;
  border-bottom: 3px  solid black;
}
h1{
  color: red;
}

.btn1{
  width: 150px;
  height: 45px;
  border: none;
  border-radius: 40px;
  background-color: blueviolet;
  font-size: 15px;
  letter-spacing: 2px;
  color: aliceblue;
}
.btn2{
  width: 200px;
  height: 45px;
  border: none;
  border-radius: 40px;
  background-color: blueviolet;
  font-size: 15px;
  letter-spacing: 2px;
  color: aliceblue;
  text-align: center;
}



.list-cont{
  position: absolute;
  top: 180px;
  width: 59.3%;
  background-color: #606162;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom: 3px solid black ;
}

.list-col{
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cbcccd;
  margin: 10px 0;
  padding: 15px 30px;
  border: none;
  border-radius: 50px;
  border-bottom: 6px solid black ;

}

.list-name{
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 3px solid black ;
}
